In [2]:
import os
import csv

def convert_to_csv(input_folder, output_file):
    with open(output_file, 'w', newline='', encoding='utf-8') as csvfile:
        writer = csv.writer(csvfile)
        writer.writerow(['Content', 'Class'])  # Writing header
        
        # Traverse through each folder
        for class_folder in os.listdir(input_folder):
            class_path = os.path.join(input_folder, class_folder)
            if os.path.isdir(class_path):
                class_name = class_folder
                
                # Traverse through each file in the class folder
                for file_name in os.listdir(class_path):
                    file_path = os.path.join(class_path, file_name)
                    if os.path.isfile(file_path):
                        with open(file_path, 'r', encoding='utf-8') as file:
                            content = file.read()
                            writer.writerow([content, class_name])

# Example usage:
input_folder = 'data'  # Update with the path to your folder containing class folders
output_file = 'output.csv'  # Name of the output CSV file
convert_to_csv(input_folder, output_file)

KeyboardInterrupt:

In [5]:
import os
import csv

def convert_to_csv(input_folder, output_file):
    with open(output_file, 'w', newline='', encoding='utf-8') as csvfile:
        writer = csv.writer(csvfile)
        writer.writerow(['Content', 'Label'])  # Writing header
        
        for subfolder in os.listdir(input_folder):
            subfolder_path = os.path.join(input_folder, subfolder)
            if os.path.isdir(subfolder_path):

                for file_name in os.listdir(subfolder_path):
                    file_path = os.path.join(subfolder_path, file_name)
                    if os.path.isfile(file_path):
                        with open(file_path, 'r', encoding='utf-8') as file:
                            content = file.read()
                            writer.writerow([content, 'Legal'])

input_folder = 'MILDSum_Samples'  
output_file = 'legal.csv' 
convert_to_csv(input_folder, output_file)

In [3]:
import pandas as pd

In [33]:
df = pd.read_csv('train.csv')

In [35]:
News_df = df.head(500)

In [36]:
News_df['news'] = News_df['Heading'] + ' ' + News_df['News']

C:\Users\HP\AppData\Local\Temp\ipykernel_22264\3292655924.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  News_df['news'] = News_df['Heading'] + ' ' + News_df['News']

In [39]:
News_df.drop("Heading", axis = 1, inplace=True)
News_df.drop("News", axis = 1, inplace=True)

C:\Users\HP\AppData\Local\Temp\ipykernel_22264\3540940944.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  News_df.drop("Heading", axis = 1, inplace=True)
C:\Users\HP\AppData\Local\Temp\ipykernel_22264\3540940944.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  News_df.drop("News", axis = 1, inplace=True)

In [41]:
News_df.to_csv("News.csv")

In [42]:
News_df

     Type                                               news
0       3  Carlyle Looks Toward Commercial Aerospace (Reu...
1       3  Oil and Economy Cloud Stocks' Outlook (Reuters...
2       3  Iraq Halts Oil Exports from Main Southern Pipe...
3       3  Oil prices soar to all-time record, posing new...
4       3  Stocks End Up, But Near Year Lows (Reuters) Re...
..    ...                                                ...
495     1  Rwandan Troops Arrive in Darfur (AP) AP - Doze...
496     1  Rwanda Troops Airlifted to Start AU Mission in...
497     1  Bomb at India Independence Parade Kills 15 (AP...
498     1  Australian FM to visit North Korea for talks o...
499     1  Kerry Campaign Helping With Fla. Recovery (AP)...

[500 rows x 2 columns]

In [43]:
!pip install PyPDF2

Collecting PyPDF2
  Downloading pypdf2-3.0.1-py3-none-any.whl (232 kB)
     ---------------------------------------- 0.0/232.6 kB ? eta -:--:--
     - -------------------------------------- 10.2/232.6 kB ? eta -:--:--
     - -------------------------------------- 10.2/232.6 kB ? eta -:--:--
     - -------------------------------------- 10.2/232.6 kB ? eta -:--:--
     - -------------------------------------- 10.2/232.6 kB ? eta -:--:--
     - -------------------------------------- 10.2/232.6 kB ? eta -:--:--
     - -------------------------------------- 10.2/232.6 kB ? eta -:--:--
     - -------------------------------------- 10.2/232.6 kB ? eta -:--:--
     ----------- ------------------------- 71.7/232.6 kB 157.5 kB/s eta 0:00:02
     ---------------------------- ------- 184.3/232.6 kB 398.4 kB/s eta 0:00:01
     ------------------------------------ 232.6/232.6 kB 490.8 kB/s eta 0:00:00
Installing collected packages: PyPDF2
Successfully installed PyPDF2-3.0.1

## Data from pdfs

In [57]:
import os
import pandas as pd
import PyPDF2

def extract_text_from_pdf(pdf_path):
    with open(pdf_path, 'rb') as file:
        reader = PyPDF2.PdfReader(file)
        text = ''
        if len(reader.pages)<40:
            for page_num in range(len(reader.pages)):
                text += reader.pages[page_num].extract_text()
        else:
            for page_num in range(40):
                text += reader.pages[page_num].extract_text()
    return text.strip()

def create_dataframe_from_pdfs(folder_path):
    data = {'Text': []}
    
    for filename in os.listdir(folder_path):
        if filename.endswith('.pdf'):
            pdf_path = os.path.join(folder_path, filename)
            text = extract_text_from_pdf(pdf_path)
            text = text.replace('\n', ' ')
            text = text.replace('\t', ' ')
            
            data['Text'].append(text)

            
    
    df = pd.DataFrame(data)
    return df

### Government Docs

In [65]:
folder_path = 'govt docs'
df = create_dataframe_from_pdfs(folder_path)
df.to_csv('govt.csv', index=False)

In [35]:
gov = pd.read_csv("Datasets/govt.csv")
gov["label"] = 5
gov['Text'] = gov['Text'].str.replace('\n', ' ')
gov.to_csv("Datasets/govt.csv")
gov

                                                 Text  label
0   Nt.- 4I FORM-1 NOIIIIIATIOI{ FOR RBTIREMENT GR...      5
1   PROFORMA FOR EXINDIAIIIEIT 1. 4.Name Designati...      5
2   TO BE PUBLISHED IN PART II, SECTION 3, SUB -SE...      5
3   FORM 10A FORM 10A [Refer Rules 23(1) and (3)] ...      5
4   FORM 16 FORM 16 [Refer Rule 34(1)] FORM OF APP...      5
5   FORM 1A [Refer Rules 5(1), (3), 7, 10(a), 14(d...      5
6   Nt.- 4I FORM-1 NOIIIIIATIOI{ FOR RBTIREMENT GR...      5
7   PROFORMA FOR EXINDIAIIIEIT 1. 4.Name Designati...      5
8   TO BE PUBLISHED IN PART II, SECTION 3, SUB -SE...      5
9   FORM 16 FORM 16 [Refer Rule 34(1)] FORM OF APP...      5
10  FORM 1A [Refer Rules 5(1), (3), 7, 10(a), 14(d...      5
11  Nt.- 4I FORM-1 NOIIIIIATIOI{ FOR RBTIREMENT GR...      5

### Medical Docs

In [72]:
med = pd.read_csv("med.csv")

In [77]:
med['Record'] = med['Record'].str.replace('\n', ' ')

med.to_csv('med.csv', index=False)

In [42]:
med = pd.read_csv("Datasets/med.csv")
med = pd.concat([med, med], ignore_index=True)
med["label"] = 8
med['Text'] = med['Text'].str.replace('\n', ' ')
med.to_csv("Datasets/med.csv")
med

,Unnamed: 0.2,Unnamed: 0.1,Unnamed: 0,label,Text
0,0,0,0,8,LPL - LPL-ROHINI (NATIONAL REFERENCE LAB) SEC...
1,1,1,1,8,    ...
2,2,2,2,8,"S02 - PSC GGN II HOME VISIT SF-103, 1ST FLR, G..."
3,3,3,3,8,"S02 - PSC GGN II HOME VISIT SF-103, 1ST FLR, G..."
4,4,4,4,8,"S02 - PSC GGN II HOME VISIT SF-103, 1ST FLR, G..."
...,...,...,...,...,...
103,49,49,49,8,"S02 - LPL-GURGAON C-1/B, CLEAR VIEW, OLD DLF ..."
104,50,50,50,8,L51 - ZINAT PARZANA HALDER (NIRNOY) Janai Stat...
105,51,51,51,8,L51 - ZINAT PARZANA HALDER (NIRNOY) Janai Stat...
106,52,52,52,8,L51 - ZINAT PARZANA HALDER (NIRNOY) Janai Stat...
107,53,53,53,8,L51 - ZINAT PARZANA HALDER (NIRNOY) Janai Stat...

### Legal

In [24]:
df_legal = pd.read_csv("Datasets/legal.csv")
df_legal["label"] = 2
df_legal.to_csv("Datasets/legal.csv")
df_legal

                                                 Text  label
0   Terms and Conditions ("Terms") Our Terms and C...      2
1   Acknowledgment These are the Terms and Conditi...      2
2   User Accounts When You create an account with ...      2
3   You may not transmit any Content that is unlaw...      2
4   Your Order Cancellation Rights Any Products yo...      2
5   Payment can be made through various payment me...      2
6   Links to Other Websites Our Service may contai...      2
7   Governing Law The laws of the Country, excludi...      2
8   Changes to These Terms and Conditions We reser...      2
9   PRIVACY [Business Name] believes strongly in p...      2
10  Statute of Limitation. You agree that regardle...      2
11  OFFICIALS NOT TO BENEFIT The Contractor warran...      2
12  The Contractor shall observe the highest stand...      2
13  DISCLOSURE OF SANCTIONS OR TEMPORARY SUSPENSIO...      2
14  Terms and conditions of Engagement 1.1. The Co...      2
15  All information relating to the Company or giv...      2
16  Intellectual Property Rights All Intellectual ...      2
17  Dispute Resolution In the event of any dispute...      2

### News

In [89]:
df = pd.read_csv('news.csv')

In [56]:
df_news = pd.read_csv("news.csv")
df_news["label"] = 7
df_news = pd.concat([df_news, df_news], ignore_index=True)
df_news.to_csv("Datasets/news.csv")
df_news

                                                 Text  label
0    Group has signed contracts to buy 1.6 million...      7
1   Paytm crisis: Following the Reserve Bank of In...      7
2   Regulatory Intervention Spurs Reflection in Fi...      7
3   Paytm Saga Reflects Regulatory Complexities in...      7
4   Samsung vs. Apple: Battle Intensifies Over Sma...      7
5   Google vs. Microsoft: Tech Titans Lock Horns O...      7
6   A little under one year. That’s the time it to...      7
7   In the rapidly growing cloud computing market,...      7
8   While Ambani’s fortune hit a record high earli...      7
9   Title: Tesla vs. Ford: Electric Vehicle Pionee...      7
10  Cognizant vs. Infy: Ravi Kumar is pulling out ...      7
11  The rivalry between electric vehicle pioneer T...      7
12  In its interim order, Sebi noted profit makers...      7
13  Nishikant Dubey also said that the time period...      7
14  Virat Kohli doesn't owe an explanation to anyo...      7
15  4 Indian-American children go missing in Wisco...      7
16  Passenger suddenly opens car door on busy road...      7
17  Musk v Zuckerberg: who’s winning?\n\nOne burne...      7
18  ‘Sexual connotations’: Sharmistha Mukherjee sa...      7
19   Group has signed contracts to buy 1.6 million...      7
20  Paytm crisis: Following the Reserve Bank of In...      7
21  Regulatory Intervention Spurs Reflection in Fi...      7
22  Paytm Saga Reflects Regulatory Complexities in...      7
23  Samsung vs. Apple: Battle Intensifies Over Sma...      7
24  Google vs. Microsoft: Tech Titans Lock Horns O...      7
25  A little under one year. That’s the time it to...      7
26  In the rapidly growing cloud computing market,...      7
27  While Ambani’s fortune hit a record high earli...      7
28  Title: Tesla vs. Ford: Electric Vehicle Pionee...      7
29  Cognizant vs. Infy: Ravi Kumar is pulling out ...      7
30  The rivalry between electric vehicle pioneer T...      7
31  In its interim order, Sebi noted profit makers...      7
32  Nishikant Dubey also said that the time period...      7
33  Virat Kohli doesn't owe an explanation to anyo...      7
34  4 Indian-American children go missing in Wisco...      7
35  Passenger suddenly opens car door on busy road...      7
36  Musk v Zuckerberg: who’s winning?\n\nOne burne...      7
37  ‘Sexual connotations’: Sharmistha Mukherjee sa...      7

## Finance

In [58]:
folder_path = 'finance'
df_fin = create_dataframe_from_pdfs(folder_path)
df_fin["label"] = 6
df_fin = pd.concat([df_fin, df_fin], ignore_index=True)
df_fin.to_csv("Datasets/fin.csv")
df_fin

                                                 Text  label
0   FINANCIAL STATEMENT ANALYSIS   UNIT IV   FINAN...      6
1   FINANCIAL STATEMENT ANALYSIS   UNIT IV   FINAN...      6
2   IMF Annual   Report 2022 FINANCIAL  STATEMENTS...      6
3   IMF Annual   Report 2022 FINANCIAL  STATEMENTS...      6
4   73   RESEARCH PAPERS   FACULTY OF MATERIALS SC...      6
5   73   RESEARCH PAPERS   FACULTY OF MATERIALS SC...      6
6   Provided by   Accounting Financial Statements ...      6
7   Provided by   Accounting Financial Statements ...      6
8   FINANCIAL STATEMENTS Dr. Derek Farnsworth  |  ...      6
9   FINANCIAL STATEMENTS Dr. Derek Farnsworth  |  ...      6
10  FINANCIAL ANALYSIS   Financia l Statements    ...      6
11  FINANCIAL ANALYSIS   Financia l Statements    ...      6
12  Financial Statement Review:    Financial State...      6
13  Financial Statement Review:    Financial State...      6
14  United States Department of Agriculture Rural ...      6
15  United States Department of Agriculture Rural ...      6
16  FINANCIAL STATEMENT ANALYSIS   UNIT IV   FINAN...      6
17  FINANCIAL STATEMENT ANALYSIS   UNIT IV   FINAN...      6
18  IMF Annual   Report 2022 FINANCIAL  STATEMENTS...      6
19  IMF Annual   Report 2022 FINANCIAL  STATEMENTS...      6
20  73   RESEARCH PAPERS   FACULTY OF MATERIALS SC...      6
21  73   RESEARCH PAPERS   FACULTY OF MATERIALS SC...      6
22  Provided by   Accounting Financial Statements ...      6
23  Provided by   Accounting Financial Statements ...      6
24  FINANCIAL STATEMENTS Dr. Derek Farnsworth  |  ...      6
25  FINANCIAL STATEMENTS Dr. Derek Farnsworth  |  ...      6
26  FINANCIAL ANALYSIS   Financia l Statements    ...      6
27  FINANCIAL ANALYSIS   Financia l Statements    ...      6
28  Financial Statement Review:    Financial State...      6
29  Financial Statement Review:    Financial State...      6
30  United States Department of Agriculture Rural ...      6
31  United States Department of Agriculture Rural ...      6

## Techinical Guides

In [145]:
folder_path = 'Technical manuals'
df_tech = create_dataframe_from_pdfs(folder_path)
df_tech["label"] = "Technical"

In [41]:
df_tech

    Unnamed: 0                                               Text  label
0            0  www.samsung.comUser Manual2 About this manual ...      4
1            1  KD-65X7577H / 65X7500H / 55X7577H / 55X7500H /...      4
2            2  60When you want to photograph flowers or  smal...      4
3            3  USER MANUAL2 3 twitter.com/GoProyoutube.com/Go...      4
4            4  Printed in Thailand 6MB30711-01No reproduction...      4
5            5  LG Room Air Conditioner OWNER'S MANUALLGVisit ...      4
6            6  Vega Industries Private Limited hereinafter re...      4
7            7  1             USER MANUAL       Android Mobile...      4
8            0  www.samsung.comUser Manual2 About this manual ...      4
9            1  KD-65X7577H / 65X7500H / 55X7577H / 55X7500H /...      4
10           2  60When you want to photograph flowers or  smal...      4
11           3  USER MANUAL2 3 twitter.com/GoProyoutube.com/Go...      4
12           4  Printed in Thailand 6MB30711-01No reproduction...      4
13           5  LG Room Air Conditioner OWNER'S MANUALLGVisit ...      4
14           6  Vega Industries Private Limited hereinafter re...      4
15           7  1             USER MANUAL       Android Mobile...      4

In [147]:
df_tech.drop(["Category"], axis=1, inplace=True)
df_tech.to_csv('technical.csv', index=False)

In [39]:
df_tech = pd.read_csv("Datasets/technical.csv")
df_tech = pd.concat([df_tech, df_tech], ignore_index=True)
df_tech["label"] = 4
df_tech.to_csv("Datasets/technical.csv")
df_tech

    Unnamed: 0                                               Text  label
0            0  www.samsung.comUser Manual2 About this manual ...      4
1            1  KD-65X7577H / 65X7500H / 55X7577H / 55X7500H /...      4
2            2  60When you want to photograph flowers or  smal...      4
3            3  USER MANUAL2 3 twitter.com/GoProyoutube.com/Go...      4
4            4  Printed in Thailand 6MB30711-01No reproduction...      4
5            5  LG Room Air Conditioner OWNER'S MANUALLGVisit ...      4
6            6  Vega Industries Private Limited hereinafter re...      4
7            7  1             USER MANUAL       Android Mobile...      4
8            0  www.samsung.comUser Manual2 About this manual ...      4
9            1  KD-65X7577H / 65X7500H / 55X7577H / 55X7500H /...      4
10           2  60When you want to photograph flowers or  smal...      4
11           3  USER MANUAL2 3 twitter.com/GoProyoutube.com/Go...      4
12           4  Printed in Thailand 6MB30711-01No reproduction...      4
13           5  LG Room Air Conditioner OWNER'S MANUALLGVisit ...      4
14           6  Vega Industries Private Limited hereinafter re...      4
15           7  1             USER MANUAL       Android Mobile...      4

## Buisness

In [153]:
import os
import pandas as pd
import PyPDF2

def extract_text_from_pdf(pdf_path):
    with open(pdf_path, 'rb') as file:
        reader = PyPDF2.PdfReader(file)
        text = ''
        if len(reader.pages)<45:
            for page_num in range(len(reader.pages)):
                text += reader.pages[page_num].extract_text()
        elif len(reader.pages)>170:
            for page_num in range(59,len(reader.pages)):
                text += reader.pages[page_num].extract_text()
        else:
            for page_num in range(45):
                text += reader.pages[page_num].extract_text()
    return text.strip()

def create_dataframe_from_pdfs(folder_path):
    data = {'Text': [], 'Category': []}
    
    for filename in os.listdir(folder_path):
        if filename.endswith('.pdf'):
            pdf_path = os.path.join(folder_path, filename)
            text = extract_text_from_pdf(pdf_path)
            text = text.replace('\n', ' ')
            text = text.replace('\t', ' ')
            data['Text'].append(text)
            # data['Category'].append('Government')
    
    df = pd.DataFrame(data)
    return df

In [160]:
folder_path = 'Buisness'
df_buis = create_dataframe_from_pdfs(folder_path)
df_buis["label"] = "Buisness"

In [161]:
# df_buis.drop(["Category"], axis=1, inplace=True)
df_buis.to_csv('buisness.csv', index=False)

In [40]:
df_buis= pd.read_csv("Datasets/buisness.csv")
df_buis = pd.concat([df_buis, df_buis], ignore_index=True)
df_buis["label"] = 3
df_buis.to_csv("Datasets/buisness.csv")
df_buis

,Unnamed: 0.1,Unnamed: 0,Text,label
0,0,0,Acceptance Letter Sample 1435 Lincol...,3
1,1,1,Acceptance Letter Sample 1435 Lincol...,3
2,2,2,"Business Communication Center 1003 Asp Avenue,...",3
3,3,3,"Business Communication Center 1003 Asp Avenue,...",3
4,4,4,Business Correspondence ⚫ Deﬁnition of Busines...,3
5,5,5,Business Correspondence ⚫ Deﬁnition of Busines...,3
6,6,6,CHAIRMAN'S LET TER TO SHAREHOLDERS A PERSONAL...,3
7,7,7,CHAIRMAN'S LET TER TO SHAREHOLDERS A PERSONAL...,3
8,8,8,To whom it may concern: Elon Musk’s takeover o...,3
9,9,9,To whom it may concern: Elon Musk’s takeover o...,3
10,10,10,F.Y.B.Com ACCOUNTING AND FINANCE ABILITY ENHAN...,3
11,11,11,F.Y.B.Com ACCOUNTING AND FINANCE ABILITY ENHAN...,3
12,0,0,Acceptance Letter Sample 1435 Lincol...,3
13,1,1,Acceptance Letter Sample 1435 Lincol...,3
14,2,2,"Business Communication Center 1003 Asp Avenue,...",3
15,3,3,"Business Communication Center 1003 Asp Avenue,...",3
16,4,4,Business Correspondence ⚫ Deﬁnition of Busines...,3
17,5,5,Business Correspondence ⚫ Deﬁnition of Busines...,3
18,6,6,CHAIRMAN'S LET TER TO SHAREHOLDERS A PERSONAL...,3
19,7,7,CHAIRMAN'S LET TER TO SHAREHOLDERS A PERSONAL...,3
20,8,8,To whom it may concern: Elon Musk’s takeover o...,3
21,9,9,To whom it may concern: Elon Musk’s takeover o...,3
22,10,10,F.Y.B.Com ACCOUNTING AND FINANCE ABILITY ENHAN...,3
23,11,11,F.Y.B.Com ACCOUNTING AND FINANCE ABILITY ENHAN...,3

### Education

In [18]:
df_edu= pd.read_csv("Datasets/edu.csv")

In [29]:
df_edu= pd.read_csv("Datasets/edu.csv")
df_edu['Text'] = df_edu['Text'].str.replace('\n', ' ')
df_edu["label"] = 0
df_edu.drop(["Unnamed: 0"], axis=1, inplace=True)
df_edu.to_csv("Datasets/edu.csv")
df_edu

    Unnamed: 0.1  label                                               Text
0              0      0  Nutrition in Plants  1 In  Class  VI  you  lea...
1              1      0  Nutrition in Animals  2 You have learnt in Cha...
2              2      0  Heat3 You know that woollen clothes are  made ...
3              3      0  Acids, Bases and Salts  4 We use in our daily ...
4              4      0  Physical  and Chemical  Changes  5 Every day y...
5              5      0  Respiration in Organisms  to  meet   6 O ne  d...
6              6      0  Transportation in Animals  and  Plants  7 You ...
7              7      0  Reproduction in Plants  8 T o  produce   its  ...
8              8      0  Motion and Time  9 In Class VI, you learnt abo...
9              9      0  Electric Current and its Effects  10 You  migh...
10            10      0  Light  11 Y ou  might  have  seen  a  beam  of...
11            11      0  Forests: Our Lifeline  12 One evening Boojho e...
12            12      0  13  Wastewater Story  All  of  us  use  water ...
13            13      0  SCIENCE  TEXTBOOK FOR CLASS VII  Rationalised ...
14            14      0  1 IntroductIon: tracIng changes   through a th...
15            15      0  2 kIngs and   kIngdoms  Ma n y   n e w   d y n...
16            16      0  3 deLhI: 12th to 15th centurY  In Chapter 2 we...
17            17      0  4 the mughaLs    (16th to 17th centurY)  Rulin...
18            18      0  5 TriBeS, NomadS aNd   SeTTled CommuNiTieS  Yo...
19            19      0  6 devoTIonal paThS   To The dIvIne  You  may  ...
20            20      0  7  the MAKING OF  ReGIONAL CULtUReS  One  of  ...
21            21      0  8 EIGHTEENTH-CENTURY  POLITICAL FORMATIONS  If...
22            22      0  1 Environment  After the long vacation, when R...
23            23      0  2 Inside Our Earth  The  earth,  our  homeland...
24            24      0  3 Our Changing Earth  Activity  Take  a  small...
25            25      0  4 Air  Do you know?  Carbon  dioxide released ...
26            26      0  5 Water  Glossary  Terrarium:  It  is  an arti...
27            27      0  Renuka  was  excited.  Shrikant  Uncle  was  h...
28            28      0  In  Chapter  5,  you  have  seen  that  water ...
29            29      0  Rationalised 2023-24
0762 – OUR ENVIRONMENT Te...
30            30      0  UNIT ONE  2  Rationalised 2023-24
Equality in ...
31            31      0  UNIT TWO  10 Social and Political Life  Chapte...
32            32      0  R E T P A H  3C  WHOSE RESPONSIBILITY?  Hey, l...
33            33      0  UNIT THREE  Rationalised 2023-24
Gender  Teach...
34            34      0  R E T P A H  5C  Women Change the World  In th...
35            35      0  UNIT FOUR  Rationalised 2023-24
Media  Teacher...
36            36      0  UNIT FIVE  Rationalised 2023-24
Markets  Teach...
37            37      0  R E T P A H  7C  Markets Around Us  We go to t...

In [12]:
df_edu.to_csv("Datasets/edu.csv")

## Research

In [52]:
df_res= pd.read_csv("Datasets/res.csv")
df_res['Text'] = df_res['Text'].str.replace('\n', ' ')
df_res = pd.concat([df_res, df_res], ignore_index=True)
df_res.rename(columns={'text': 'Text'}, inplace=True)
df_res.to_csv("Datasets/res.csv")
df_res

    Unnamed: 0                                               Text  label
0            0  stem cell researchHealth Research Studying ste...      9
1            1  (7) lash lRel e Publisher: International Potas...      9
2            2  Diversity 2012 , 4, 475-491; doi:10.3390/d4040...      9
3            3  Plant stem cell niches YVONNE STAHL and RÜDIGE...      9
4            4  APPLIED AND ENVIRONMENTAL MICROBIOLOGY , Mar. ...      9
5            5  F o u n d a t i o n a l  a n d  T r a n s l a ...      9
6            6  Update on Light and Plant Immunity Canopy Ligh...      9
7            7  Wei et al., Sci. Adv. 2019; 5 : eaaw0759     2...      9
8            8  Current Biology 21, 345–352, March 8, 2011 ª20...      9
9            9  Review Article A Review on the Effect of Plant...      9
10          10  ORIGINAL PAPER Evolution of the international ...      9
11          11  1 Vol.:(0123456789) Scientific Reports  |     ...      9
12          12  Plant stem-cell organization and differentiati...      9
13           0  stem cell researchHealth Research Studying ste...      9
14           1  (7) lash lRel e Publisher: International Potas...      9
15           2  Diversity 2012 , 4, 475-491; doi:10.3390/d4040...      9
16           3  Plant stem cell niches YVONNE STAHL and RÜDIGE...      9
17           4  APPLIED AND ENVIRONMENTAL MICROBIOLOGY , Mar. ...      9
18           5  F o u n d a t i o n a l  a n d  T r a n s l a ...      9
19           6  Update on Light and Plant Immunity Canopy Ligh...      9
20           7  Wei et al., Sci. Adv. 2019; 5 : eaaw0759     2...      9
21           8  Current Biology 21, 345–352, March 8, 2011 ª20...      9
22           9  Review Article A Review on the Effect of Plant...      9
23          10  ORIGINAL PAPER Evolution of the international ...      9
24          11  1 Vol.:(0123456789) Scientific Reports  |     ...      9
25          12  Plant stem-cell organization and differentiati...      9

## Merged Dataset

In [59]:
import pandas as pd
import os

# Path to the directory containing your CSV files
directory = 'Datasets'

dfs = []

# Loop through each file in the directory
for filename in os.listdir(directory):
    if filename.endswith('.csv'):
        # Read the CSV file into a DataFrame
        df = pd.read_csv(os.path.join(directory, filename))
        # Append the DataFrame to the list
        dfs.append(df)

merged_df = pd.concat(dfs, ignore_index=True)

merged_df.to_csv('merged_data.csv', index=False)

print("Merged CSV file saved successfully.")

Merged CSV file saved successfully.

In [60]:
len(merged_df)

348

In [61]:
merged_df["label"].unique()

array([1, 3, 0, 6, 5, 2, 8, 7, 9, 4], dtype=int64)